# Site Settings
title: Applied Cryptography
tagline: Research Unit in Fondazione Bruno Kessler (FBK)
remote_theme: csfbk/fbk-cs-websites-theme
repository: aleph-fbk/aleph.github.io
fixed_navbar: top

# Entity Settings
entity_type: "unit"

organization:
  unit:
    name: "Applied Cryptography"
    acronym: "ALEPH"
  center:
    name: "Center for Cybersecurity"
    acronym: "CS"
    website: "https://cs.fbk.eu"

logos:
  unit:
    regular:
      default: "/assets/images/institutional/ALEPH_regular.png"
      white: "/assets/images/institutional/ALEPH_regular_white.png"
    symbol:
      default: "/assets/images/institutional/ALEPH_symbol.png"
      white: "/assets/images/institutional/ALEPH_symbol_white.png"

content-manager:
  name: Alessandro Tomasi
  affiliation: Center for Cybersecurity
  email: aleph-webmaster@fbk.eu
  phone: 

social:
  github: https://github.com/aleph-fbk/

# Other Settings and Defaults
livereload: true
primary-color: "#0068b4"
show_publication_tags: true
hide_hero: true

## DO NOT MODIFY
lang: en
baseurl: ""
permalink: pretty
markdown: kramdown
highlighter: rouge
show_navbar_brand: false
show_link_fbk: true
sass:
  style: compressed
  source_dir: _sass

plugins:
  - jekyll-redirect-from

collections:
  collaborations:
    output: true
    layout: collaboration
  complementary:
    output: true
    layout: complementary
  dissemination:
    output: true
  events:
    output: true
    layout: page
  people:
    output: true
    layout: page
  publications:
    output: true
  projects:
    output: true
    layout: project
  teaching:
    output: true
    layout: page
  tools:
    output: true
    layout: tool
  topics:
    output: true
    layout: topic

defaults:
  - scope:
      path: ""
      type: pages
    values:
      show_sidebar: false

  - scope:
      type: collaborations
    values:
      layout: collaboration

  - scope:
      type: complementary
    values:
      layout: complementary

  - scope:
      type: events
    values:
      layout: page

  - scope:
      path: "_people/*-*"
    values:
      layout: person

  - scope:
      path: "_people/archive/*-*"
    values:
      layout: person

  - scope:
      type: projects
    values:
      layout: project

  - scope:
      type: tools
    values:
      layout: tool

  - scope:
      type: topics
    values:
      layout: topic

exclude: [
  "Gemfile",
  "clean-theme.gemspec",
  "Gemfile.lock",
  "node_modules",
  "vendor/bundle/",
  "vendor/cache/",
  "vendor/gems/",
  "vendor/ruby/",
  "*/template*.md",
  "*/_template*.md",
  "README*.md"
]