{% assign details = include.details | default: "" %}
{% assign sort_by = include.sort_by | default: "name" %}
{% assign source = include.source %}
{% assign style = include.style | default: "table" %}

{% assign sort_natural = true %}
{% if include.sort_natural == false %}
    {% assign sort_natural = false %}
{% endif %}

{% assign sort_reverse = false %}
{% if include.sort_reverse == true %}
    {% assign sort_reverse = true %}
{% endif %}

{% if source and source.size > 0 %}
    {% if style == "table" %}
        <table class="teaching">
            <thead>
                <tr>
                    <th width="20%">Name</th>
                    <th width="10%">Level</th>
                    <th width="15%">Institution</th>
                    <th width="20%">Involved People</th>
                    <th width="15%">Period</th>
                    <th width="10%">Links</th>
                </tr>
            </thead>
            <tbody>
    {% elsif style == "list" %}
        <ul class="teaching">
    {% endif %}

    {% assign courses = "" | split: "" %}
    {% for item in source %}
        {% if item.id %}
            {% assign match = site.data.teaching | where: "id", item.id | first %}
        {% else %}
            {% assign match = site.data.teaching | where: "id", item | first %}
        {% endif %}
        {% if match %}
            {% assign courses = courses | push: match %}
        {% endif %}
    {% endfor %}

    {% if sort != "none" %}
        {% if sort_natural %}
            {% assign courses = courses | sort_natural: sort_by %}
        {% else %}
            {% assign courses = courses | sort: sort_by %}
        {% endif %}
        {% if sort_reverse %}
            {% assign courses = courses | reverse %}
        {% endif %}
    {% endif %}

    {%- for course in courses -%}
        {% assign lecturers = "" | split: "" %}
        {%- if course.lecturer -%}
            {%- if course.lecturer | first -%}
                {% for lecturer in course.lecturer %}
                    {% if lecturer.id %}
                        {% assign lecturerFromId = site.data.people | where: "id", lecturer.id %}
                        {% assign lecturerName = lecturerFromId[0]["name"] | append: " " | append: lecturerFromId[0]["surname"] %}
                        {%- if lecturer.startYear -%}
                            {% assign lecturerName = lecturerName | append: " (from " | append: lecturer.startYear %}
                            {%- if lecturer.endYear -%}
                                {% assign lecturerName = lecturerName | append: " to " | append: lecturer.endYear | append: ")" %}
                            {% else %}
                                {% assign lecturerName = lecturerName | append: ")" %}
                            {% endif %}
                        {% elsif lecturer.endYear -%}
                            {% assign lecturerName = lecturerName | append: " (until " | append: lecturer.endYear | append: ")"  %}
                        {% endif %}
                        {%- assign lecturers = lecturers | push: lecturerName -%}
                    {% else %}
                        {% assign lecturerFromId = site.data.people | where: "id", lecturer %}
                        {% assign lecturerName = lecturerFromId[0]["name"] | append: " " | append: lecturerFromId[0]["surname"] %}
                        {%- assign lecturers = lecturers | push: lecturerName -%}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% assign lecturerFromId = site.data.people | where: "id", course.lecturer %}
                {% assign lecturerName = lecturerFromId[0]["name"] | append: " " | append: lecturerFromId[0]["surname"] %}
                {%- assign lecturers = lecturers | push: lecturerName -%}
            {% endif %}
        {%- endif -%}

        {%- if lecturers.size > 0 -%}
            {%- assign lecturersString = lecturers | join: ", " -%}
        {%- else -%}
            {%- assign lecturersString = nil -%}
        {%- endif -%}

        {% assign levelArray = "" | split: "" %}
        {% assign levelString = nil %}
        {%- if course.level -%}
            {%- if course.level | first -%}
                {% for level in course.level %}
                    {% assign levelArray = levelArray | push: level %}
                {% endfor %}
            {% else %}
                {% assign levelArray = levelArray | push: course.level %}
            {% endif %}
        {%- endif -%}
        {%- if levelArray.size > 0 -%}
            {%- assign levelString = levelArray | join: ", " -%}
        {%- endif -%}

        {% assign institutionArray = "" | split: "" %}
        {% assign institutionString = nil %}
        {%- if course.institution -%}
            {%- if course.institution | first -%}
                {% for institution in course.institution %}
                    {% assign institutionArray = institutionArray | push: institution %}
                {% endfor %}
            {% else %}
                {% assign institutionArray = institutionArray | push: course.institution %}
            {% endif %}
        {%- endif -%}
        {%- if institutionArray.size > 0 -%}
            {%- assign institutionString = institutionArray | join: ", " -%}
        {%- endif -%}

        {% assign yearString = nil %}
        {%- if course.startYear and course.endYear -%}
            {%- if course.startYear == course.endYear -%}
                {% assign yearString = course.startYear %}
            {%- else -%}
                {% assign yearString = course.startYear | append: "-" | append: course.endYear %}
            {%- endif -%}
        {%- elsif course.startYear -%}
            {% assign yearString = "From " | append: course.startYear %}
        {%- endif -%}

        {%- assign linksArray = "" | split: "" -%}
        {%- assign linksString = nil -%}
        {%- if course.links -%}
            {%- for link in course.links -%}
                {%- assign string = '<a href="' | append: link.url | append: '">' | append: link.name | append: '</a>' -%}
                {%- assign linksArray = linksArray | push: string -%}
            {%- endfor -%}
        {%- endif -%}
        {%- if linksArray.size > 0 -%}
            {%- assign linksString = linksArray | join: ", " -%}
        {%- endif -%}

        {% if style == "table" %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ levelString }}</td>
                <td>{{ institutionString }}</td>
                <td>{{ lecturersString }}</td>
                <td>{{ yearString }}</td>
                <td>{{ linksString }}</td>
            </tr>
        {% endif %}
    {% endfor %}

    {% if style == "table" %}
            </tbody>
        </table>
    {% elsif style == "list" %}
        </ul>
    {% endif %}
{% endif %}