{% assign allowFiltering = include.allowFiltering %}
{% assign sort = include.sort %}
{% if include.source %}
    {% assign source = include.source %}
{% endif %}

{% if source.size > 0 %}
    {% if allowFiltering %}
        <h1>Filter by Tag</h1>
        {%- for tag in site.data.tags -%}
            <div style="display:inline; cursor: pointer;" id="tag-{{ tag.id }}">
                <span onclick="toggleTagFilter('{{ tag.id }}')" style="margin: 2px; background-color: {{ tag.color }};" class="tag tag-{{ tag.id }}">
                    <b>
                        {{ tag.text }}
                    </b>
                </span>
            </div>
        {%- endfor -%}
    {% endif %}

    {% for year in publicationsByYear %}
        {% assign yearn = year.name | plus:0 %}
        <h1>{{ year.name }} <small>({{ year.items.size }})</small></h1>

        <ul class="publications">
            {% assign publicationsFromId = "" | split: "" %}
            {% for publication in year.items %}
                {% assign publicationFromId = site.data.publications | where: "id", publication %}
                {% assign publicationFromIdLabel = site.data.publications | where: "id", publication.id %}
                {% if publicationFromId.size == 1 %}
                    {% assign publicationsFromId = publicationsFromId | concat: publicationFromId %}
                {% elsif publicationFromIdLabel.size == 1 %}
                    {% assign publicationsFromId = publicationsFromId | concat: publicationFromIdLabel %}
                {% endif %}
            {% endfor %}

            {% if sort %}
                {% if sort == "none" %}
                    {% assign publicationsSorted = publicationsFromId %}
                {% else %}
                    {% assign publicationsSorted = publicationsFromId | sort_natural: sort %}
                {% endif %}
            {% else %}
                {% assign publicationsSorted = publicationsFromId | sort: "year" | reverse %}
            {% endif %}

            {%- for publication in publicationsSorted -%}
                {% assign authors = "" | split: "" %}
                {%- if publication.authors -%}
                    {%- if publication.authors | first -%}
                        {% for author in publication.authors %}
                            {% assign authorFromId = site.data.people | where: "id", author %}
                            {% assign authorName = authorFromId[0]["name"] | append: " " | append: authorFromId[0]["surname"] %}
                            {%- assign authors = authors | push: authorName -%}
                        {% endfor %}
                    {% else %}
                        {% assign authorFromId = site.data.people | where: "id", publication.authors %}
                        {% assign authorName = authorFromId[0]["name"] | append: " " | append: authorFromId[0]["surname"] %}
                        {%- assign authors = authors | push: authorName -%}
                    {% endif %}
                {%- endif -%}

                {%- if authors.size > 0 -%}
                    {%- assign authorsString = authors | join: ", " -%}
                {%- else -%}
                    {%- assign authorsString = nil -%}
                {%- endif -%}

                {%- if publication.destination -%}
                    {%- assign destinationFromId = site.data.destinations | where: "id", publication.destination -%}
                    {%- if destinationFromId.size == 1 -%}
                        {% assign destination = destinationFromId[0] -%}
                    {%- else -%}
                        {% assign destination = "" -%}
                    {%- endif -%}
                {%- endif -%}
                {%- capture destinationString -%}
                    {%- if destination -%}In: <i>{% if destination.proceedings %}{{ destination.proceedings }}{% else %}{{ destination.name }}{% endif %}{%- if destination.acronym %} ({{ destination.acronym }}){%- endif -%}</i>{%- if publication.destinationAddon -%}, {{ publication.destinationAddon }}{%- endif -%}{%- endif -%}
                {%- endcapture -%}
                {%- assign linksArray = "" | split: "" -%}
                {%- if publication.doi -%}
                    {%- assign string = '<a href="https://doi.org/' | append: publication.doi | append: '">DOI</a>' -%}
                    {%- assign linksArray = linksArray | push: string -%}
                {%- endif -%}
                {%- if publication.url -%}
                    {%- assign string = '<a href="' | append: publication.url | append: '">URL</a>' -%}
                    {%- assign linksArray = linksArray | push: string -%}
                {%- endif -%}
                {%- if publication.urlComplementary -%}
                    {%- assign string = '<a href="' | append: publication.urlComplementary | append:'">complementary material</a>' -%}
                    {%- assign linksArray = linksArray | push: string -%}
                {%- endif -%}
                {%- if publication.urlNews -%}
                    {%- assign string = '<a href="' | append: publication.urlNews | append: '">news</a>' -%}
                    {%- assign linksArray = linksArray | push: string -%}
                {%- endif -%}
                {%- if linksArray.size > 0 -%}
                    {%- assign linksString = linksArray | join: ", " | prepend: " (" | append: ")" -%}
                {%- else -%}
                    {%- assign linksString = "" -%}
                {%- endif -%}
                {%- assign listOfTagsID = "" -%}
                {%- for tagID in publication.tags -%}
                    {% assign listOfTagsID = listOfTagsID | append: tagID |  append: " " %}
                {%- endfor -%}
                {% assign pos = listOfTagsID | size | minus: 1 %}
                {% assign listOfTagsID = listOfTagsID | slice: 0, pos %}
                <li data-tags="{{ listOfTagsID }}">
                    {{ authorsString }}<br />
                    <b>{{ publication.title }}</b><br />
                    {{ destinationString }}{{ linksString }}<br />
                    {%- for tagID in publication.tags -%}
                    {% assign tag = site.data.tags | where: "id", tagID %}
                    <span style="background-color: {{ tag[0].color }};"  class="tag tag-{{ tagID }}">
                        <b>
                            {{ tag[0].text }}
                        </b>
                    </span>
                {%- endfor -%}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endif %}

<script>
    activeTags = []
    
    function toggleTagFilter(filter) {

        // Remove or add the tag to the list of active tags
        if (activeTags.indexOf(filter, 0) > -1) {
            activeTags.splice(activeTags.indexOf(filter, 0), 1)
        } else {
            activeTags.push(filter)
        }

        allFilteringTags = document.querySelectorAll('[id^=tag]');
        for (let i = 0, len = allFilteringTags.length; i < len; i++) {
            currentFilteringTag = allFilteringTags[i]
            currentFilteringTagID = currentFilteringTag.id.replace("tag-", "")
            if (activeTags.length == 0) {
                currentFilteringTag.style.opacity = 1
            } else {
                if (activeTags.includes(currentFilteringTagID)) {
                    currentFilteringTag.style.opacity = 1
                } else {
                    currentFilteringTag.style.opacity = 0.3
                }
            }
        }

        // Get all publications
        allPublications = document.querySelectorAll('[data-tags]')
        for (let i = 0, len = allPublications.length; i < len; i++) {
            tagsOfCurrentPublication = allPublications[i].dataset["tags"].split(" ")

            // If there are no active tags OR all tags of the current publication are in the active tags, show it
            if (activeTags.length == 0 || activeTags.every(tag => tagsOfCurrentPublication.includes(tag))) {
                allPublications[i].style.display = '';
            } else {
                allPublications[i].style.display = 'none';
            }
        } 
    }
</script>
