---
layout: page
---

<div class="columns collaboration is-multiline">
    <div class="column overview is-12">
        {% if page.logo %}
            {% if page.logo contains "/assets/svg/" %}
                <div class="logo pull-right">
                    <svg>
                        <use href="{{ page.logo }}"/>
                    </svg>
                </div>
            {% else %}
                <img class="logo pull-right" src="{{ page.logo }}" />
            {% endif %}
        {% endif %}

        <br />
        
        {{ content }}
    </div>
</div>
