---
layout: default
---

<div class="content">
    <div class="columns is-multiline">
        <div class="column is-12">
            {{ content }}
        </div>

        {% if page.images.size > 0 %}
            <div class="column images is-12">
                <h1 id="related-images" class="related in-toc">Images</h1>
                {% include list-images.html source=page.images %}
            </div>
        {% endif %}

        {% if page.tools.size > 0 %}
            <div class="column is-12">
                <h1 id="related-tools" class="related in-toc">Related Tools</h1>
                {% assign processedIDs = "" | split: "" %}
                {% for id in page.tools %}
                    {% assign processedID = "/tools/" | append: id %}
                    {% assign processedIDs = processedIDs | push: processedID %}
                {% endfor %}
                {% assign processedItems = "" | split: "" %}
                {% for item in site.tools %}
                    {% if processedIDs contains item.id %}
                    {% assign processedItems = processedItems | push: item %}
                    {% endif %}
                {% endfor %}
                {% include list-items.html source=processedItems style="list" %}
            </div>
        {% endif %}

        {% if page.events.size > 0 %}
            <div class="column is-12">
                <h1 id="related-events" class="related in-toc">Related Events</h1>
                {% include list-events.html source=page.events %}
            </div>
        {% endif %}

        {% if page.projects.size > 0 %}
            <div class="column is-12">
                <h1 id="related-projects" class="related in-toc">Related Projects</h1>
                {% assign processedIDs = "" | split: "" %}
                {% for id in page.projects %}
                    {% assign processedID = "/projects/" | append: id %}
                    {% assign processedIDs = processedIDs | push: processedID %}
                {% endfor %}
                {% assign processedItems = "" | split: "" %}
                {% for item in site.projects %}
                    {% if processedIDs contains item.id %}
                    {% assign processedItems = processedItems | push: item %}
                    {% endif %}
                {% endfor %}
                {% include list-items.html source=processedItems style="list" %}
            </div>
        {% endif %}

        {% if page.collaborations.size > 0 %}
            <div class="column is-12">
                <h1 id="related-collaborations" class="related in-toc">Related Collaborations</h1>
                {% assign processedIDs = "" | split: "" %}
                {% for id in page.collaborations %}
                    {% assign processedID = "/collaborations/" | append: id %}
                    {% assign processedIDs = processedIDs | push: processedID %}
                {% endfor %}
                {% assign processedItems = "" | split: "" %}
                {% for item in site.collaborations %}
                    {% if processedIDs contains item.id %}
                    {% assign processedItems = processedItems | push: item %}
                    {% endif %}
                {% endfor %}
                {% include list-items.html source=processedItems style="list" %}
            </div>
        {% endif %}

        {% if page.publications.size > 0 %}
            {% assign publicationsByYear = site.data.publications | where_exp: "publication", "page.publications contains publication.id" | where: "isALEPH", "true" | group_by: "year" | sort: "name" | reverse %}
            <div class="column is-12">
                <h1 id="related-publications" class="related in-toc">Related Publications</h1>
                {% include list-publications.html source=publicationsByYear %}
            </div>
        {% endif %}

        {% if page.theses.size > 0 %}
            <div class="column is-12">
                <h1 id="related-theses" class="related in-toc">Related Theses</h1>
                {% include list-theses.html source=page.theses %}
            </div>
        {% endif %}

        {% if page.people.size > 0 %}
            <div class="column is-12">
                <h1 id="related-people" class="related in-toc">Involved People</h1>
                {% assign details = "picture, email, phone, personalPage, website" | split: ", " %}
                {% include list-people.html source=page.people style="card" details=details sort=page.peopleOrder %}
            </div>
        {% endif %}
    </div>

    <div style="text-align: center" id="d3jsGraph">

    </div>
</div>