---
layout: page
---

<div class="columns is-multiline">
    <div class="column is-12">
        {% if page.logo %}
            {% if page.logo contains "/assets/svg/" %}
                <div style="display: table;" class="logo pull-right">
                    <svg>
                        <use href="{{ page.logo }}"/>
                    </svg>
                </div>
            {% else %}
                <img class="logo pull-right" src="{{ page.logo }}" />
            {% endif %}
        {% endif %}
        <br />
        {{ content }}
    </div>
</div>
